<table class="table table-bordered w-100">
    <tbody>
      <tr>
        <td>Calories </td>
        <td>{{calories}}</td>
      </tr>
      <tr>
        <td>FAT</td>
        <td>{{fat}}</td>
      </tr>
      <tr>
        <td>CHOL</td>
        <td>{{cholesterol}}</td>
      </tr>

      <tr>
        <td>Sodium {{sodium}}</td>
        <td></td>
      </tr>

      <tr>
        <td>Carbohydrate</td>
        <td>{{carbohydrate}}</td>
      </tr>

      <tr>
        <td>Fiber {{fiberQuantity}}</td>
        <td>{{fiber}}</td>
      </tr>

      <tr>
        <td>Sugars {{sugars}}</td>
        <td></td>
      </tr>

      <tr>
        <td>Protein {{proteinQuantity}}</td>
        <td>{{protein}}</td>
      </tr>

      <tr>
        <td>Vitamin B12 {{vitamin}}</td>
        <td></td>
      </tr>

      <tr>
        <td>Ciber {{calciumQuantity}}</td>
        <td>{{calcium}}</td>
      </tr>

      <tr>
        <td>Iron {{ironQuantity}}</td>
        <td>{{iron}}</td>
      </tr>

      <tr>
        <td>Potassium {{potassiumQuantity}}</td>
        <td>{{potassium}}</td>
      </tr>
    </tbody>
  </table>